.Contacts {
    margin: 5%;
    padding: 5%;
    padding-top: 100px;

    height: 400px;
    font-size: 26px;
    background-color: #ffffff;

    align-items: center;
    display: flex;
    flex-direction: column;
}