@media (min-width: 1200px){
    .TextAboutMe {
        height: auto;

        font-size: 24px;

        background-color: #f2f2f2;
        margin: 5%;
        padding: 3%;
    
        margin-left: calc((100vw - 1200px) / 2);
        margin-right: calc((100vw - 1200px) / 2);
    
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 1200px){
    .TextAboutMe {
        height: auto;

        font-size: 10px;

        background-color: #f2f2f2;
        margin: 5%;
        padding: 5%;
    
        margin-left: calc((100vw - 600px) / 2);
        margin-right: calc((100vw - 600px) / 2);
    
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}


