@media (min-width: 1200px){   
    .GeneralInfo {
        height: 600px;
        width: 1200px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        display: flex;
    }

    .Description {
        font-size: 24px;
        background-color: #f2f2f2;
        text-align: left;
        padding: 25px;
        width: 700px;
    }

    .Picture {
        height: 600px;
        width: 600px;
    }
}

@media (max-width: 1200px){
    .GeneralInfo {
        margin-top: 20px;
        margin-bottom: 120px;

        min-width: 600px;

        display: flex;
        flex-direction: column;
    }

    .Description {
        font-size: 24px;
        background-color: #f2f2f2;
        padding: 25px;
        text-align: left;
        
        min-height: 250px;
        min-width: 250px;
    }
    
    .Picture {
        min-height: 600px;
        min-width: 600px;
    }
}

@media (width: 1200px){   
    .GeneralInfo {
        height: 600px;
        width: 1200px;
        margin-top: 20px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: row;
    }

    .Description {
        font-size: 24px;
        background-color: #f2f2f2;
        text-align: left;
        padding: 25px;
        height: 550px;
        width: 550px;
    }

    .Picture {
        height: 600px;
        width: 600px;
    }
}