.Footer {
    height: 200px;
    min-width: calc(600px - 20%);
    padding: 0.5em 10%;

    background-color: #f2f2f2;

    display: flex;
    align-items: center; 
    justify-content: space-between; 

    flex: 0 0 auto;
}

.AboutMe {
    letter-spacing: 1px;
    flex-direction: column;
    color: #000000;
}

.AboutMeReferences:link {
    color: #7a7a7a;
    text-decoration: none;
  }
  
.AboutMeReferences:visited {
    color: #7a7a7a;
    text-decoration: none;
  }

.ConnectWithMe {
    letter-spacing: 1px;
    flex-direction: column;
}

