.Header {
    height: 30px;
    padding: 0.5em 5%;
    background-color: #3468c9;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.HeaderNavigationBlock {
    width: 100px;
    display: flex; 
    flex-direction: row;
}

.HeaderNavigationElement {
    padding-left: 8px;
    cursor: pointer;
}