.Header {
    height: 40px;
    min-width: calc(600px - 20%);
    padding: 0.5em 5%;

    background-color: #3468c9;
    color: #fff;

    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.HeaderNavigationBlock {
    width: 100px;
    display: flex; 
    flex-direction: row;
}

.HeaderNavigationElement {
    padding-left: 8px;
    cursor: pointer;
}

.HeaderNavigationElement:link {
    color: #fff;
    text-decoration: none;
  }
  
.HeaderNavigationElement:visited {
    color: #fff;
    text-decoration: none;
  }

.UserActions {
    display: flex; 
    align-items: center;
    flex-direction: row;
}

.UserActionsBlock {
    padding-right: 24px;
    width: 100px;
    display: flex; 
    flex-direction: row;
}

.UserActionsElement {
    padding-left: 8px;
    cursor: pointer;
}

.UserActionsElement:link {
    color: #fff;
    text-decoration: none;
  }
  
.UserActionsElement:visited {
    color: #fff;
    text-decoration: none;
  }

.menuElement {
    color: black;
}